html, body {background:transparent}
h4.flag-heading {
    font-size: 30px;
    line-height: 28px;
    font-weight: 700;
    letter-spacing: 0px;
    display: inline-flex;
    vertical-align: middle;
}	
.header-wrap { border-bottom: #efefef 1px solid; margin-bottom:10px;}
h4.flag-heading span.heading-date {
	font-size:14px;
	font-weight:normal;
	margin-left:20px;
}
.flag50 {
   width:50px; 
   height:30px; 
   margin-right:5px;
}
}
	canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
div.do-chart, div.do-donut { display:none; }  
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

	  #table-wrap { 
		height:400px;
		overflow:scroll;
		overflow-x:hidden;
		
	  }
	  .jumbotron {padding:0.5rem; margin-bottom:1rem}
	  .jumbotron span {display:block;}
	  .jumbotron span:last-child {color:#C0C0C0}
	  .jumbotron span.number {
		  font-size: 1.2rem;
		  font-weight: 800;
	  }
	  .yellow { color:#ffc928}
	  .red { color:#e62623}
	  .green { color:#008000}
	  .light-green {color:#00bc8c !important}
	  .cyan {color:#3498DB !important}
	  .orange {collor:#F39C12 !important}
	  table#search-table td span { width:40px; display:inline-block; text-align:center; font-size:10px; padding:0px; border-radius:3px; color:#000 !important}
	  table#search-table td span:first-child {color:#e62623; background:#00bc8c; margin-right:5px !important}
	  table#search-table td span:nth-child(2) {color:#e62623; background:#3498DB !important}
	  table#search-table td:nth-child(2) {width: 100px; padding:0}
	  table#top-ten td {padding: 5px !important; text-align:right}
	  table#top-ten td:first-child {width:80px; text-align:left}
	  table#top-ten td:nth-child(2), table#top-ten td:nth-child(3) {width:80px}
	  
	  
	  

table {background: #fff}
table {border:#eee 1px solid !important; border-radius:5px !important}
table td { color:#333 !important}
table > thead > tr > th{ background:#efefef !important}
.table-top-ten > thead > tr > th,
.table-top-ten > thead > tr > td,
.table-top-ten > tbody > tr > td
 {padding:px}
.table-top-ten td:first-child { text-align:left}
.table-top-ten td { font-size:14px}

.chart-wrap {
	background:#fff;
	border: 1px rgba(0, 0, 0, 0.08) solid;
	padding:30px 5px;
}
.cv-card {
	border: 1px rgba(0, 0, 0, 0.08) solid;
	background: #fff;
	margin:20px 0;
}
.cv-card-panel {
	padding:5px;
	text-align:center;
	font-size:calc(0.6em + 0.7vw);
	font-weight:700;
	box-shadow:2px 1px 3px rgba(0, 0, 0, 0.16);
	flex: 1;
}
.cv-card-panel span {
	display: block;
	color:#333;
	font-weight:normal;
	font-size:0.75rem;
	line-height:1;
	margin-top:7px;
	
}
.cv-card-header {
width: 100%;
padding: 10px;
background: rgb(247, 247, 247);
margin-bottom: 10px;	
}
.cv-card .container { padding:0px 25px 12px 25px}
.style-one .cv-card-panel { box-shadow:none }

/* ---------------------------------------------------- Card CSS ---------------------------------------------------- */
.dataTables_length {
  padding-bottom: 10px; 
 }
#DataTables_Table_0_length select {
	display: inline-block;
	color: #000;
	border: #efefef 1px solid;
	width: 50px; 
}
#DataTables_Table_0_length, #DataTables_Table_0_filter { min-width:150px; font-weight:normal}
  .dataTables_length {
    width: 60px;
    margin-left: 0;
    margin-right: 10px; }
#DataTables_Table_0_length label,
#DataTables_Table_0_filter label { text-align:left; font-weight:normal; line-height:40px }	
#DataTables_Table_0_filter input { border:#efefef 1px solid; color:#000; float:right}
table.dataTable thead th, table.dataTable thead td { border-bottom:0 }
	
.dataTables_filter {
  padding-bottom: 10px;
  padding-right: 5px; }

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding-top: 0.54rem;
  padding-bottom: 0.54rem;
  background-color: #efefef;
  border-color: transparent;
  border-radius: 0; }
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:focus {
    background-color: #ced4da;
    background-image: none;
    border-color: transparent;
    color: #343a40 !important; }
  .dataTables_wrapper .dataTables_paginate .paginate_button:active {
    box-shadow: none; }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.current:focus {
    background-color: #1b84e7;
    background-image: none;
    border-color: transparent;
    color: #fff !important; }
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:focus {
    background-color: #e9ecef;
    color: #adb5bd !important; }

/* ############### RTL SUPPORT ############### */
.rtl table.dataTable thead th.sorting::after, .rtl table.dataTable thead th.sorting_asc::after, .rtl table.dataTable thead th.sorting_desc::after, .rtl table.dataTable thead td.sorting::after, .rtl table.dataTable thead td.sorting_asc::after, .rtl table.dataTable thead td.sorting_desc::after {
  right: auto;
  left: 8px; }

.rtl table.dataTable thead th.sorting::before, .rtl table.dataTable thead th.sorting_asc::before, .rtl table.dataTable thead th.sorting_desc::before, .rtl table.dataTable thead td.sorting::before, .rtl table.dataTable thead td.sorting_asc::before, .rtl table.dataTable thead td.sorting_desc::before {
  right: auto;
  left: 8px; }

.rtl .dataTables_length .select2-container {
  margin-right: 0;
  margin-left: 10px; }

.rtl .dataTables_filter {
  padding-right: 0;
  padding-left: 5px; }
.form-control, .dataTables_filter input {
    border-radius: 0;
}
.form-control, .dataTables_filter input {
    display: block;
    width: 100%;
    padding: 0.594rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 3px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: none;
}
button, input {
    overflow: visible;
}
.country-table-wrap { width:100%; height:auto; overflow-y:hidden; overflow-x:scroll; }
.dataTables_wrapper { background:#fff; padding:10px}
#DataTables_Table_0 td:first-child, table.country-table > tbody > tr > td:first-child {width:150px; text-align:left}
#DataTables_Table_0 td:nth-child(8), table.country-table > tbody > tr > td:nth-child(8) {width:80px}
span.flag img {display:inline;}

table.dataTable th { background:#efefef !important}
table.dataTable thead td { padding:0;}

.country-table-wrap table th, .country-table-wrap table td { font-size:1.4rem !important} 
.country-table-wrap table td, .country-table-wrap table thead th {
    font-size: 14px !important;
}
.mtop10 { margin-top:10px !important}
.mtop20 { margin-top:20px !important}
.bg-red { background:red; }
.bg-orange { background:orange; }
.bg-yellow { background: yellow; }
.bg-black { background:#333; }
.bg-cyan { background:#3498DB; }
.bg-green {background:#008000}
.color-white { color:#fff; }
.color-black { color:#000; }
.table-flag img { width: 30px; height:20px; }